.myanimation:hover {
    animation-name: handshake;
    animation-duration: 1s;
    /* animation-delay: 2s; */

}

@keyframes handshake {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    6.5% {
        -webkit-transform: translateX(-6px) rotateY(-9deg);
        transform: translateX(-6px) rotateY(-9deg);
    }

    18.5% {
        -webkit-transform: translateX(5px) rotateY(7deg);
        transform: translateX(5px) rotateY(7deg);
    }

    31.5% {
        -webkit-transform: translateX(-3px) rotateY(-5deg);
        transform: translateX(-3px) rotateY(-5deg);
    }

    43.5% {
        -webkit-transform: translateX(2px) rotateY(3deg);
        transform: translateX(2px) rotateY(3deg);
    }

    50% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.swiper {
    width: 600px;
    height: 300px;
}


#navbar-sticky ul {
    display: flex;
}

#navbar-sticky a {
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

#navbar-sticky a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #cbd5e1;
    transform: translateX(0);
    transition: width 0.3s ease-in-out;
}

#navbar-sticky a.activenav::after {
    width: 100%;
}